PORT=4000
NODE_ENV=

MONGO_ATLAS_URI=

BCRYPT_SALT=

JWT_SECRET=
JWT_EXPIRES_IN=

TOKEN_EXPIRY_DURATION=

#Cloudinary
export CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME # Mac
# set CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME # Windows

LANDING_BASE_URL=

SERVER_BASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# you can get credentials for testing from https://ethereal.email
MAILER_SMTP_HOST=""
MAILER_SMTP_PORT=
MAILER_SMTP_USER=""
MAILER_SMTP_PASSWORD=""
MAILER_SECURE=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
WEBHOOK_SECRET_KEY=
